
.main-body{
    margin:0;
    width: 100%;
    height: 668px;
    background: ;
    
}
.header{
    width:100%;
    height:77px;
    background;
}
.img-header{
    margin-top:10px;
    width: 94%;
    height: 54px;
}
.img-head2{
   width: 86px;
   height: 62px;
}
.header-input{
    width: 477px;
    height: 41px;
    margin-left: 329px;
    border-radius: 33px;
    text-decoration: none;
    outline: none;
    border: 2px solid grey;
    cursor: pointer;
    
}
.microphone{
    height: 30px;
    width: 31px;
    margin: 10px;
}

.create{
    margin-left: 357px;
    width: 64px;
    height: 53px;
    padding: 5px;
}

.notification{
    width: 34px;
    height: 28px;
}
.profile{
    height: 20px;
    width: 20px;
    margin: 22px;
}
.leftsection{
    width: 14%;
    height: 617px;
    margin: 0;
    background:;
    float:left;
}
.icons-spec{
    width: 23px;
    height: 23px;
}
.Text{
    padding-left: 16px;
    font-size: 14px;  
    font-family: "Roboto","Arial",sans-serif;
}
.live{
    height: 27px;
    width: 40px;
}
.right-section{
    float:left;
    width: 86%;
    height: 631px;
    background:;
}

.button{
    width: 95px;
    height: 34px;
    border-radius: 11px
}
.icons-spec1{
    width: 23px;
    height: 23px;
    margin-left: 13px;
}
.button-table{
    margin-left: 28px;
}

imgchr1{
    width: 20px;
    height: 20px;
    margin-left:33px;
}
.rowclass{
    margin-top:20px;
}
.thumbnail{
    width: 377px;
    height: 215px;
    border-radius: 18px;
    margin-left:15px;
}
.tableclass{
    margin-top:30px;
}
.thumb-font{
    font-size: 21px;
    font-family: "Roboto","Arial",sans-serif;
    color: grey;
}
.img-tile{
padding-left: 35px;
border-radius: 10px
}
.symbol{
    height: 22px;
    width: 24px;
}
.Channelname{
    padding-left: 27px;
    color: gray;

}